.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4A90E2; /* 메인 컬러 */
  overflow: hidden;
}

.splash-card {
  width: 200px;
  height: auto;
  margin-bottom: 20px; /* 텍스트와의 간격 */
}

.splash-title {
  color: #FFFFFF; /* 흰색으로 변경 */
  font-size: 3.5rem;
  font-weight: bold;
  animation: fadeIn 2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
